<div class="text-center my-3 px-3">
    <img src="/images/@Src" class="img-fluid border shadow-sm rounded"/>
    <p class="text-muted mt-2">@Description</p>
</div>

@code {
    [Parameter] public string Src { get; set; }
    [Parameter] public string Description { get; set; }
}