<div class="metric-box d-flex flex-column text-center border border-light rounded pt-3 px-2 m-2">
    <h4 class="display-6 fw-bold mb-0">@BigText</h4>
    <p class="lead mb-0">@SmallText</p>
</div>

@code {
    [Parameter] public string BigText { get; set; }
    [Parameter] public string SmallText { get; set; }
}