@using Portfolio.Models
<div class="text-light container text-center">
    <div class="my-5">
        <h1 class="display-3 fw-bold mb-3">Magnus Mouritzen</h1>
        <h2 class="h2 fw-semibold mb-4">@Title</h2>
    </div>
    <div class="d-flex justify-content-center">
        <MetricBox BigText="8" SmallText="years of programming"/>
        <MetricBox BigText="MSc" SmallText="student in Computer Science"/>
        <MetricBox BigText="8+" SmallText="programming languages"/>
    </div>
    <h1>Top Technologies</h1>
    <div class="d-flex justify-content-center">
        @foreach (TechnologyStackInfo tech in TechStack) {
            <TechnologyStackTile Info="tech"/>
        }
    </div>
</div>
@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public IEnumerable<string> Lines { get; set; }
    [Parameter] public IEnumerable<TechnologyStackInfo> TechStack { get; set; }
}