@using Portfolio.Models
<div class="col">
    <div class="d-flex flex-column text-center">
        <img src="/images/tech/@Info.Source" alt="Tech icon for @Info.Name" class="tech-icon">
        <p class="lead">@Info.Name</p>
    </div>
</div>

@code {
    [Parameter] public TechnologyStackInfo Info { get; set; }
}