@using Portfolio.Models
<div class="d-flex flex-column text-center m-2">
    <img src="/images/tech/@Info.Source" alt="Tech icon for @Info.Name" class="tech-icon">
    <p>@Info.Name</p>
</div>

@code {
    [Parameter] public TechnologyStackInfo Info { get; set; }
}