@page "/game"
@using Portfolio.Components.Projects
@using Portfolio.Models
@rendermode InteractiveServer

<PageTitle>Game Portfolio</PageTitle>
<div class="container text-center my-5">
    <h1 class="display-3 fw-bold text-dark mb-3">Magnus Mouritzen</h1>
    <h2 class="h3 text-primary fw-semibold -mb 4">Game Programmer</h2>
    <ul class="list-unstyled fs-5">
        <li class="mb-2"><i>8 years of programming and Unity</i></li>
        <li class="mb-2"><i>Highly analytical problem solver</i></li>
        <li class="mb-2"><i>Very fast learner</i></li>
        <li class="mb-2"><i>Lifelong passion for games</i></li>
    </ul>
</div>
<ProjectView Title="Game Portfolio" Projects="@_projects"/>

@code {
    private readonly ProjectInfo[] _projects = [
        Guildmaster.ProjectInfo,
        Youtube.ProjectInfo,
        Bachelor.ProjectInfo,
        Gorillas.ProjectInfo,
        Hexagoani.ProjectInfo,
        Zupply.ProjectInfo,
        UnityPackage.ProjectInfo,
        PortfolioSite.ProjectInfo
    ];
}