@page "/"

<PageTitle>Home</PageTitle>

<h1>Greetings, traveller!</h1>
Choose your path.
<div>
    <a href="/software" class="btn btn-primary">Software</a>
    <a href="/game" class="btn btn-primary">Game</a>
</div>